@model KTR.Models.Ingredients
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="flextop">Add New Ingredient</h2>

@*<h4>Ingredients</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amt" class="control-label"></label>
                <input asp-for="Amt" class="form-control" />
                <span asp-validation-for="Amt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item" class="control-label"></label>
                <input asp-for="Item" class="form-control" />
                <span asp-validation-for="Item" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prep" class="control-label"></label>
                <input asp-for="Prep" class="form-control" />
                <span asp-validation-for="Prep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeId" class="control-label"></label>
                <Input asp-for="RecipeId" class="form-control" value="@ViewBag.SavedRecipeId" />
                <span asp-validation-for="RecipeId" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <label asp-for="IRegId" class="control-label"></label>
                <input readonly="readonly" asp-for="IRegId" class="form-control" value="@userManager.GetUserId(User)" />
                <span asp-validation-for="IRegId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add Ingredient" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Ingredients" asp-action="ShowIngredients" class="btn btn-info" asp-route-id="@ViewBag.SavedRecipeId">Back to List</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
