@model KTR.Models.Ingredients
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Ingredient</h2>

@*<h4>Ingredients</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IngredientId" />

            <div class="form-group">
                <label asp-for="RecipeId" class="control-label">Recipe Name</label>
                <select readonly="readonly" asp-for="RecipeId" class="form-control" asp-items="ViewBag.RecipeId"></select>
                <span asp-validation-for="RecipeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Amt" class="control-label"></label>
                <input asp-for="Amt" class="form-control" />
                <span asp-validation-for="Amt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item" class="control-label"></label>
                <input asp-for="Item" class="form-control" />
                <span asp-validation-for="Item" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prep" class="control-label"></label>
                <input asp-for="Prep" class="form-control" />
                <span asp-validation-for="Prep" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastUpdated" class="control-label">Date</label>
                <input readonly="readonly" asp-for="LastUpdated" class="form-control" />
                <span asp-validation-for="LastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IRegId" class="control-label"> </label>
                <input readonly="readonly" asp-for="IRegId" class="form-control" value="@userManager.GetUserId(User)" />
                <span asp-validation-for="IRegId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-info" />
                @*<input type="button" asp-action="Index"  value="Cancel" class="btn btn-danger"/>*@
                <a asp-action="Index" class="btn btn-danger">Cancel</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
