@model KTR.Models.Preparation
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="flextop">Add New Step</h2>

<h4> Recipe Instruction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Step" class="control-label"></label>
                <input asp-for="Step" class="form-control" />
                <span asp-validation-for="Step" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instr" class="control-label"></label>
                <input asp-for="Instr" class="form-control" />
                <span asp-validation-for="Instr" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RecipeId" class="control-label"></label>
                <input asp-for="RecipeId" class="form-control" value="@ViewBag.SavedRecipeId" />
                <span asp-validation-for="RecipeId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="PRegId" class="control-label"></label>
                <input readonly="readonly" asp-for="PRegId" class="form-control" value="@userManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success HomeText" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyPrep" class="btn btn-info HomeText">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
