/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

thead{
	color: black; 
	background-color: #d9f3d9;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

h1{
	color: #a94442;
	margin-left: 30px;
}

h2{
	color: #3c763d;
}

.top{
 margin-top: 100px;
 margin-bottom: 10px;	

}

.flexbox{
	display: flex;
	flex-direction: row;
}

.flextop{
	display: flex;
	flex-direction: row;
	margin-top: 75px;
}

hr {
    background-color: #3c763d;
	border-top: 0px solid #3c763d;
	height: 2px;
	margin-top: 10px;
    margin-bottom: 10px
}
.w3-padding-0 {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.footer {
	font-size: small;
	font-style: italic;
	
}

.navbar-collapse {
    margin-right: -10px;
    margin-left: -10px;
}

/*Buttons with black text  */


.btn-info {
    color: #333;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-danger-ktr {
    color: black;
    background-color: #d9534f;
    border-color: #d43f3a;
}


.btn-success-ktr {
    color: black;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


.btn-warning-ktr {
    color: black;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-default-ktr {
    color: black;
    background-color: #fff;
    border-color: #ccc;
}


/* To make image fit in an area */
.img {
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 10px;
  max-width: 800px;
}

#dishes{
  width: auto;
  height: 65%;
  margin: 10px;
  padding: 10px;
 }

.grid {
  display: flex;
  flex-wrap: wrap;
}

.myImg {
  background-image: url("~/images/ClipboardBanner-2.jpg");
  background-size: cover;
}

/* **************** Not sure about these ************  */
.HomeText{
	color: black;
}

.CoverLink {
    color:blue;
    text-decoration-color: blue;
    text-decoration: underline;
	background-color: transparent;
}

.BannerLink {
    color: white;
    text-decoration-color: white;
    background-color: transparent;
}

a.navbar-brand:hover {
  color: blue;
  text-decoration-color: blue;
  text-decoration: underline;
  background-color: pink;
}
/*  ************************************************  */







/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


