@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model KTR.ViewModels.NewUserViewModel

@{
    ViewData["Title"] = "Create Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2 class="flextop">Account Registration</h2>
 
<h4>User Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Users" asp-action="CreateProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fname" class="control-label">First Name</label>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lname" class="control-label">Last Name</label>
                <input asp-for="Lname" class="form-control" />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DisplayName" class="control-label">Display Name</label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email Address</label>
                <input readonly="readonly" asp-for="Email" class="form-control" value="@UserManager.GetUserName(User)" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RegId" class="control-label">Registration ID Number</label>
                <input readonly="readonly" asp-for="RegId" class="form-control" value="@UserManager.GetUserId(User)" />
                <span asp-validation-for="RegId" class="text-danger"></span>
            </div>



                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Cancel</a>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
