@model KTR.Models.Recipes

@{
    ViewData["Title"] = "Admin Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="flextop">Admin View Create New Recipe</h2>

<h4>
    Creating recipe on behalf of: User  @ViewBag.SavedUserId (@ViewBag.RegNum)
     
</h4>
<p> Note: If the above line doesn't have the user id number, go to the <a asp-controller="Users" asp-action="Index">user list</a> and start this process from there. </p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecipeName" class="control-label"></label>
                <input asp-for="RecipeName" class="form-control" />
                <span asp-validation-for="RecipeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="@ViewBag.SavedUserId" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servings" class="control-label"></label>
                <input asp-for="Servings" class="form-control" />
                <span asp-validation-for="Servings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class ="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MainId" class="control-label"></label>
                <select asp-for="MainId" class ="form-control" asp-items="ViewBag.MainId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegId" class="control-label"></label>
                <input asp-for="RegId" class="form-control" value="@ViewBag.RegNum" />
                <span asp-validation-for="RegId" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success HomeText" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Recipe List</a>
</div>

