@model KTR.Models.Recipes
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 class="flextop">Create New Recipe</h2>

@*<h4>New Recipe</h4>*@
<div class="col-sm-12">
    After completing your recipe description, you can enter your ingredient list on the next page. 
</div>

<div class="col-md-12 text-danger">All fields marked with an asterisk (*) are required.</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="RecipeName" class="control-label">*Recipe Name</label>
                <input asp-for="RecipeName" class="form-control" />
                <span asp-validation-for="RecipeName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Optional: Add a short description...">  </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Servings" class="control-label">*Number of Servings</label>
                <input asp-for="Servings" class="form-control" />
                <span asp-validation-for="Servings" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StatusId" class="control-label"> *Visibility </label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MainId" class="control-label"></label>
                <select asp-for="MainId" class="form-control" asp-items="ViewBag.MainId"> </select>
                <span asp-validation-for="MainId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserId" class="control-label">*Display Name</label>
                @*<Input asp-for="UserId" class="form-control" value="@userManager.GetUserName(User)" />*@
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"> </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RegId" class="control-label">*Registration Id</label>
                <input readonly="readonly" asp-for="RegId" class="form-control" value="@userManager.GetUserId(User)" />
                @*<span asp-validation-for="RegId" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label for="Photo">*Recipe Photo</label>
                <input id="FilePhoto" type="file" name="FilePhoto" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="ShowRecipes" class="btn btn-danger">Cancel</a>


            </div>
        </form>
    </div>
</div>

<div>
   @* <a asp-action="ShowRecipes" class="btn btn-danger">Cancel</a> *@

    @*<input type="button" value="GO BACK" class="btn btn-default"
           onclick="location.href='%Request.UrlReferrer'" />*@

   

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




