@model KTR.Models.Recipes
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="flextop">Edit Recipe</h2>

@*<h4>Edit Recipe</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                @*<input type="hidden" asp-for="RecipeId" />*@
                <label asp-for="RecipeId" class="control-label"></label>
                <input  readonly="readonly" asp-for="RecipeId" class="form-control" />
                <span asp-validation-for="RecipeId" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="RecipeName" class="control-label"></label>
                <input asp-for="RecipeName" class="form-control" />
                <span asp-validation-for="RecipeName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Servings" class="control-label"></label>
                <input asp-for="Servings" class="form-control" />
                <span asp-validation-for="Servings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Meal Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label">Visibility Status</label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"> </select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MainId" class="control-label"></label>
                <select asp-for="MainId" class="form-control" asp-items="ViewBag.MainId"> </select>
                <span asp-validation-for="MainId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Photo"> Recipe Photo </label>
                <input id="FilePhoto" type="file" name="FilePhoto" />
            </div>

            @*<div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>*@


            <div class="form-group">
                <label asp-for="LastUpdated" class="control-label">Date</label>
                <input readonly=readonly asp-for="LastUpdated" class="form-control" value="@DateTime.Now" type="datetime" />
                <span asp-validation-for="LastUpdated" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="UserId" class="control-label">User Id Number</label>
                <input readonly="readonly" asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RegId" class="control-label"></label>
                <input readonly="readonly"  asp-for="RegId" class="form-control"  />
                <span asp-validation-for="RegId" class="text-danger"></span>

            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-success HomeText" />
                <a asp-action="ShowRecipes" class="btn btn-danger HomeText">Cancel</a>
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="ShowRecipes">Back to my list</a> 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
